<form action="/cereals" method="POST">
  <input type="text" name="cereal_name" placeholder="cereal name">
  <input type="number" name="cereal_rating" placeholder="rating 1 - 10" min="1" max="10">
  <button type="submit">Create New Cereal</button>
</form>